
.main {
  height:70px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 10px;
  display:flex;
  align-items:center ;
  justify-content: space-around;
  padding: auto;
}
img{
  size: 50px 50px
}
a {
  color: black;

}
a:hover {
  text-decoration: none;
}
.spred{
  margin:2px ;
}

