
.main {
  height:60px;
  box-sizing: border-box;
  border: 1px solid gainsboro;
  border-radius: 10%;
  display:flex;
  align-items: center;
  justify-content: center;
}
img{
  size: 50px 50px
}
a {
  color: black;

}
a:hover {
  text-decoration: none;
}
.spred{
  margin:2px ;
}

