.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gainsboro;
  border-radius: 10px;
}
h1 {
  margin: 5px;
  padding: 3px;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-style: italic;
  color: dimgrey;
}
