.main{
width: 40vh; ;
height: 50vw;
border: 1px solid gainsboro;
border-radius: 10px;
}
.hLine{
  margin: 5px;
  padding: 3px;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 800;
  font-style: italic;
  color: dimgrey;
  }
